.activies{
	width: 1200px;
	height: auto;
	margin: 0 auto;
	
}

.activies-title{
	width: 100%;
    height: auto;
    overflow: hidden;
    display: block;
    font-size: 36px;
    color: #222;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 40px auto;
     text-align: center;
}
.activies-date{
	width: 100%;
    height: 42px;
    line-height: 42px;
    display: block;
    margin: 10px 0px;
    text-align: center;
     
}
.activies-date p{
	height: 42px;
    line-height: 42px;
    display: block;
   	
    margin-right: 30px;
    font-size: 14px;
    color: #999;
    position: relative;
     
   
}

.activies-pic-1{
	width: 600px;
	height: 400px;
	margin: 40px auto;
	
}
.activies-pic-1 img{
	width: 100%;
	height: 100%;
}
.activies-text-1,
.activies-text-2{
	width: 1000px;
	height: auto;
	margin: 40px auto;
	font-size: 24px;
	color: #727272;
	text-indent: 35px;
	font-family: "宋体";
}
