* {
			margin: 0;
			padding: 0;
		}
		
		#allmap {
			width: 600px;
			height: 400px;
			margin: 40px auto;
			margin-left: 70px;
		}
		
		.contact-bt {
			width: 100%px;
			height: auto;
			overflow: hidden;
			display: block;
			font-size: 30px;
			color: #333;
			letter-spacing: 2px;
			text-align: center;
			margin: 0 auto;
			margin-top: 85px;
			
		}
		
		.contact-us-list {
			width: 100%;
			height: auto;
			overflow: hidden;
			display: block;
			margin: 40px auto;
		}
		
		.contact-us-list p {
			width: 100%;
			height: auto;
			line-height: 34px;
			display: block;
			font-size: 18px;
			color: #555;
			letter-spacing: 1px;
			margin-bottom: 5px;
			margin-left: 65px;
			
		}
		
		.contact-us-list p:before {
			content: "";
			width: 34px;
			height: 34px;
			overflow: hidden;
			display: block;
			background-color: #e8c520;
			border-radius: 50%;
			float: left;
			margin-right: 15px;
			background: url(../img/index/icon.png) no-repeat #e8c520;
			
		}
		
		.contact-us-list p:nth-child(1):before {
			background-position: -138px -494px;
		}
		
		.contact-us-list p:nth-child(2):before {
			background-position: -138px -557px;
		}
		
		.contact-us-list p:nth-child(3):before {
			background-position: -137px -622px;
		}
		











.main-m7{
	width: 100%;
    height: 765px;
    overflow: hidden;
    display: block;
    background-color: #f2f2f2;
}
.m7-left{
	width: 50%;
    height: 765px;
    overflow: hidden;
    display: block;
    
   
    float: left;
}

.m7-right{
	width: 50%;
    height: 765px;
    overflow: hidden;
    display: block;
    float: right;
}
.m7-content{
	width: 80%;
    height: 622px;
    overflow: hidden;
    display: block;
    margin: 70px auto;
}

.m7-tit{
	width: 100%;
    height: 82px;
    overflow: hidden;
    display: block;
    text-align: center;
}

.m7-tit h2{
	width: 540px;
	height: 60px;
	font-size: 38px;
	margin: 0 auto;
	
	text-align: center;
	line-height: 60px;
	color: #333333;
}
.m7-tit .down{
	width: 540px;
	height: 22px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	
}
.word{
	width: 100%;
    height: 515px;
    overflow: hidden;
    display: block;
    margin-top: 30px;
}
.word p{
	 font-size: 16px;
    color: #7c7c7c;
    text-align: center;
    line-height: 28px;
}
.form{
	width: 540px;
	height: 454px;
	margin-top: 20px;
}
.form-1{
	background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    height: 44px;
    line-height: 44px;
    margin-bottom: 12px;
}
.form-1 input{
	width: 100%;
    border: none;
    background: none;
    color: #9fa3a7;
    font-size: 14px;
    height: 36px;
    padding: 4px 10px;
    outline: none;
}
.touzi{
	position: relative;
    background: #fff;
    background: url(../img/index/a2.jpg) no-repeat right center;
    background-size: 18px;
    width: 100%;
    float: left;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    height: 44px;
    line-height: 44px;
}
.money{
	 width: 100%;
   	display: none;
    position: absolute;
    left: -1px;
    top: 44px;
    overflow: hidden;
    background-color: #fff;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #b9bcbf;
    z-index: 9999;
    border-radius: 5px;
}
.money li:hover{
	background: #E5E5E5;	
}
.form-1 textarea{
	background: none;
    border: none;
    height: 120px;
    padding: 10px;
    resize: none;
    width: 94%;
    line-height: 22px;
    color: #9fa3a7;
    font-size: 14px;
    font-family: "微软雅黑";
}
button{
	background: #e8c520;
    color: #fff;
    border: none;
    width: 100%;
    height: 46px;
    line-height: 46px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
   
    outline: none;
}
button:hover{
	background: #fdd100;
}
.m7-tit .down {
    width: 540px;
    height: 22px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.bar {
    width: 60px;
    height: 3px;
    background: #FDD100;
    margin-right: 15px;
    margin-top: 10px;
}
.jiantou {
    width: 18px;
    height: 18px;
    background: url(../img/index/icon.png) no-repeat 0px -221px;
    margin-bottom: 5px;
    margin-right: 15px;
}
